<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Faring - Sky is the beggining</title>
    <link rel="shortcut icon" type="image/jpg" href="~/images/SpaceFaringLogoWeb.png" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @Html.Partial("_NavBar")

    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="">
            <div class="row footer-div">
                <div><a href="/Home/Index">HOME</a></div>
                <div><a href="/UserFlights/Flights">FLIGHTS</a></div>
                <div><a href="/UserPlanet/Planets">PLANETS</a></div>
                <div><a href="/UserRace/Races">RACES</a></div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div><a href="/User/UserOrders">MY ORDERS</a></div>
                    <div><a href="/User/UserFavorites">MY FAVORITES</a></div>
                }
            </div>
            <br />
            <p>&copy; @DateTime.Now.Year - Space Faring</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetimePicker")
    @Scripts.Render("~/bundles/customjs")
    @RenderSection("scripts", required: false)

</body>
</html>
