@model Space101.ViewModels.IdentityViewModels.IndexViewModel


@{
    ViewBag.Title = "Manage";
}

<div class="row header">
    <h2>
        <span>@ViewBag.Title</span>
        <span>Change your account settings</span>
    </h2>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="mvc-form">
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        <!--<dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>-->
        @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }*@
        <!--</dd>-->
    </dl>
</div>
<hr />
<div class="row header">
    <h2>
        <span>Manage</span>
        <span>Account Details</span>
    </h2>
</div>

@using (Html.BeginForm("ChangeDetails", "Manage", FormMethod.Post, new { @class = "form-horizontal form-account", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.User.FirstName, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.User.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.LastName, new { @class = "col-md-3 control-label", autocomplete = "off" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.User.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.NickName, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.User.NickName, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.User.NickName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.PlanetID, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.DropDownListFor(m => m.User.PlanetID,
                    new SelectList(Model.User.Planets, "PlanetID", "Name"),
                    "Select",
                    new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.User.PlanetID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.RaceID, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.DropDownListFor(m => m.User.RaceID,
                    new SelectList(Model.User.Races, "RaceID", "Name"),
                    "Select",
                    new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.User.PlanetID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="btn-save" type="submit" class="btn btn-default" value="Save" />
        </div>
    </div>
}

@Styles.Render("~/Content/custom/manageIndex.css")